//- - const { host, siteId, option } = theme.remark42
script.
  function loadTCComent () {
    var appTitle = 'tackchen_blog';
    var name = appTitle + location.pathname;

    if(name[name.length-1]==='/'){
      name = name.substring(0, name.length-1);
    }

    console.log('comment, app name='+name)

    var d = document, s = d.createElement('script');
    s.src = 'https://cdn.jsdelivr.net/npm/tc-comment@1.0.0/tc-comment.min.js';
    s.onload = function(){
      window.TComment.initComment({
        darkSelector: '[data-theme=dark]',
        el: '#tccomment',
        appName: name,
      })
    };
    (d.head || d.body).appendChild(s);
  }

  loadTCComent();
